.navbar-brand {
    font-family: "Istok Web", sans-serif;
}

.navbar {
  padding-top: 0.1rem;   
  padding-bottom: 0.1rem
}

.nav-link:hover {
    opacity: 75%;
}

.red-text {
    color: #E63B3B !important; 
}

::placeholder {
  color: #ffffff !important;
}

.btn-orange {
    font-family: "Istok Web", sans-serif;
    background-color: #FFB029;
    color: white;  
}

.btn-orange:hover {
    border-color: #FFB029;
    color: #FFB029;
}